INSTANCE_URL=https://mastodon.social
ACCESS_TOKEN=SkRBTtrjicN1-imUK-dTgLKm5b7j5N1RXaHugvvc5m4

# Configuration de base
POSTGRES_URL=jdbc:postgresql://mastodon_db:5432/mastodon
POSTGRES_USER=mastodon_user
POSTGRES_PASSWORD=mastodon

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=mastodon_stream

SPARK_CHECKPOINT_LOCATION=/tmp/checkpoints

# Configuration du traitement
PROCESSING_KEYWORDS=Spark,Mastodon,Data
WINDOW_DURATION=1 minute
ACTIVE_USER_THRESHOLD=1
BATCH_SIZE=30